---
import '@fontsource-variable/space-grotesk';
---

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Docs</title>
    </head>
    <body class="min-h-dvh bg-stone-950 text-gray-50 selection:bg-violet-900">
        <section class="container space-y-10 py-10">
           <div class="space-y-4">
            <h2 class="font-bold text-4xl">country-kit</h2>
            <p class="text-gray-300">
                country-kit is a collection of data and utilities to help you build your next project with iso country data.
            </p>
           </div>

           <p class="text-gray-400">Documentation is WIP.</p>
        </section>
    </body>
</html>